# {{ ansible_managed }}
# PostgreSQL Client Authentication Configuration File
# ===================================================
#
# See: https://www.postgresql.org/docs/current/static/auth-pg-hba-conf.html

# TYPE  DATABASE        USER            ADDRESS                 METHOD

local all postgres    peer
local all all    peer
host all all 127.0.0.1/32   scram-sha-256
host all all ::1/128   scram-sha-256

{% for client in postgresql_hba_entries %}
{{ client.type }} {{ client.database }} {{ client.user }} {{ client.address|default('') }} {{ client.ip_address|default('') }} {{ client.ip_mask|default('') }} {{ client.auth_method }} {{ client.auth_options|default("") }}
{% endfor %}